/* Universal Styles */
* {
    box-sizing: border-box;
}

/* Font Creation */
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

html {
  font-size: 16px;
  font-family: 'Sora', monospace, sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;

  margin-bottom: 1rem;

  color: rgb(255, 255, 255);
}

h2 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 0.9rem;

  color: rgb(255, 255, 255);
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;

  margin-bottom: 0.8rem;

  color: rgb(0, 0, 0);
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;

  color: rgb(0, 0, 0);
}

/* Font-size change */

/* Mobile SE */
@media only screen and (max-width: 400px) {
  html {
      font-size: 12px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) and (min-width: 400px) {
  html {
      font-size: 16px;
  }
}

/* Larger screen sizes */
@media only screen and (min-width: 1500px) {
  html {
      font-size: 20px;
  }
}

/* Header ********************** */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  display: inline-block;

  margin-top: 1rem;
  margin-right: 0.5rem;
}

.border_out {
  padding: 1rem;
}

/* Media Information */
.media_information img {
  width: auto;
  height: 2rem;

  border-radius: 10px;
}

/* Own Information */
.own_information a {
  padding: 0.25rem;

  color: rgb(255, 255, 255);
  border: 2px solid rgb(249, 115, 22);
  border-radius: 10px;
}

.own_information a:hover {
  opacity: 0.9;
}

.own_information img {
  width: 0.9rem;
  height: auto;
}


/* Main ************************************* */

/* About Me ******************** */
#about_me {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 350px;

  color: rgb(255, 255, 255);
  background-color: rgb(38, 38, 38);
}

#about_me .information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  max-width: 750px;
  padding: 2rem;
}

#about_me .text_information {
  max-width: 400px;
  margin: 1.5rem;
  line-height: 2rem;
}

#about_me img {
  display: inline;

  width: auto;
  height: 7rem;

  border-radius: 10px;
}

/* Profesisonal Information ******************** */

#professional_information {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  gap: 1%;
  max-width: 750px;

  margin: 5rem auto 5rem auto;
}

#professional_information section {
  display: grid;
  grid-template-columns: 25% 60%;

  margin: 2.5rem 1rem 2.5rem 1rem;
}

#professional_information section h3 span {
  border-bottom: 2px solid rgb(249, 115, 22);
}

section .content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

/* .skill_bar {
  width: 240px;
  height: 15px;

  border-radius: 25px;
  background: linear-gradient(to right, rgb(249, 115, 22) 50%, rgb(196, 196, 196) 50%);
} */

/* Max width tablet */
@media only screen and (max-width: 760px) {
  #professional_information section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* Footer ***************************************** */
#contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 120px;

  color: rgb(255, 255, 255);
  background-color: rgb(38, 38, 38);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 2rem auto;
}

textarea {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 12.5px;
}

input[type="submit"] {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgb(249, 115, 22);
  padding: 0.5rem;
}

