/* Universal Styles */
* {
    box-sizing: border-box;
}

/* Font Creation */
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

html {
  font-size: 16px;
  font-family: 'Sora', monospace, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
}

/* Font-size change */

/* Mobile SE */
@media only screen and (max-width: 400px) {
  html {
      font-size: 14px;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) and (min-width: 400px) {
  html {
      font-size: 16px;
  }
}

/* Larger screen sizes */
@media only screen and (min-width: 1500px) {
  html {
      font-size: 20px;
  }
}

/* Header ********************** */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}